<html>

<head>
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/assets/styles/main.css">
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="/home">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/login">Login</a>
        <a class="nav-item nav-link active" href="/profile">Profile</a>
        <a class="nav-item nav-link active" href="/register">Register</a>
        <a class="nav-item nav-link active" href="/logout">Logout</a>
        <a class="nav-item nav-link active" href="/shelter">Shelters List</a>
        <a class="nav-item nav-link active" href="/shelter/some-shelter">One Shelter</a>
        <a class="nav-item nav-link active" href="/shelter/some-shelter/edit">Edit Shelter</a>
        <a class="nav-item nav-link active" href="/shelter/submit">Submit New Shelter</a>
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/assets/scripts/manifest.js"></script>
  <script src="/assets/scripts/safehaven_vendor.js"></script>
  <script src="/assets/scripts/safehaven.js"></script>
</body>

</html>