<html>
<head>
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/shelter">Shelters List</a></li>
    <li><a href="/shelter/some-shelter">One Shelter</a></li>
    <li><a href="/shelter/some-shelter/edit">Edit Shelter</a></li>
    <li><a href="/shelter/submit">Submit New Shelter</a></li>
  </ul>
{{{body}}}
  <script src="/assets/scripts/manifest.js"></script>
  <script src="/assets/scripts/safehaven_vendor.js"></script>
  <script src="/assets/scripts/safehaven.js"></script>
</body>
</html>
